@model UserONG


@{
    ViewData["Title"] = "Detalhes das ONG'S";
}


<div class="py-5 text-center">
    <img class="d-block mx-auto mb-6"src="~/ong_1.png" alt="" width="72" height="72">
    <h2 style="color:seagreen">Aqui você pode vizualizar todos os Detalhes da ONG</h2>
</div>

<div class="row">
    <div class="col-md-4 order-md-2 mb-2" style="border:ridge;overflow-y:scroll;max-height:700px;border-width:2px;padding:5px;border-radius:5px; border-color:aquamarine">
        <h4 class="d-flex justify-content-between align-items-center mb-3" style="padding:1rem">
            <span class="text-success">Quantidade Doações: </span>
            <span class="badge badge-success badge-pill">@ViewBag.total</span>
        </h4>
        @if (ViewBag.doacoes == null)
        {
            <span class="badge badge-danger">Nenhuma doação realizada no momento....</span>    

        }

            @foreach(var itens in ViewBag.doacoes)
            {
                <ul class="list-group mb-2">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Contribuinte:  @itens.NomeDoador</h6>
                            <small class="text-muted">CPF: @itens.CPF</small>
                            <br />
                            <small class="text-muted">@itens.EmailDoador</small>
                        </div>
                        <span class="text-success">R$ @itens.Quantia</span>
                    </li>
                </ul>

            }
        
    </div>
    <div class="col-md-8 order-md-1">

        <h4 class="mb-3 font-weight-bold" style="color:seagreen">Informações ONG</h4>
        <div class="row g-3  font-weight-bold" style="margin-bottom:1rem">
            <div class="col-sm-4">
                <span>Nome: @Model.Nome</span>
            </div>
            <div class="col-sm-4">
                <span>CNPJ: @Model.CNPJ</span>
            </div>
            <div class="col-sm-4">
                <span>Email: @Model.Email</span>
            </div>
        </div>

        <div class="row g-3  font-weight-bold">
            <div class="col-12" style="border-color:aquamarine">
                <span>Breve Descrição</span>
                <textarea class="form-control" disabled cols="10" style="resize:none">@Model.Descricao</textarea>
            </div>

        </div>

        <div class="row g-3  font-weight-bold" style="margin-top:1rem">
            <div class="col-sm-4">
                <span>Visite Site Oficial:<a class="badge" style="padding:10px;background-color:seagreen">@Model.LinkSite</a></span>
            </div>

        </div>


        <div class="row" style="margin-top:2rem">
            <div class="col-6">

                <div class="card mb-3" style="max-width:18rem;border-color:seagreen">
                    <strong class="text-uppercase text-success card-header">Endereços</strong>

                    <div class="card-body">
                        <h5 class="card-text">Endereço: @Model.Endereco.Logradouro</h5>
                        <h5 class="card-text">CEP: @Model.Endereco.CEP</h5>
                        <p class="card-text">Número: @Model.Endereco.Numero</p>
                        <span class="badge badge-dark" style="width:6rem"> Estado: @Model.Endereco.Sigla</span>
                    </div>
                </div>
            </div>

            <div class="col-6">

                <div class="card mb-3" style="border-color:seagreen">
                    <strong class="text-uppercase text-success card-header">Conta Bancária</strong>
                    <div class="card-body ">
                        <h5 class="card-title">Utilize esses dados:</h5>
                        <select class="custom-select d-block w-100" style="margin-bottom:1rem">
                            <option>Banco: @Model.Conta.NomeBanco</option>
                        </select>
                        <p class="card-subtitle">CNPJ:  @Model.CNPJ</p>
                        <p class="card-text">Número da conta: @Model.Conta.NumeroConta</p>
                        <span class="card-text">Agência:  @Model.Conta.Agencia</span>

                    </div>
                </div>

            </div>
        </div>
        <a  style="margin-top:1rem;background-color:seagreen" class="btn btn-sm btn-block" asp-route-id="@Model.CodigoId" asp-action="Doar" asp-controller="Doacao">Faça agora mesmo uma Doação para essa ONG!</a>
    </div>
 </div>